.btn-doe::before{
    content: "Doar";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 21px;
    background-color: var(--hover);
    transition: left 0.4s ease-in;
    z-index: 1;
}

.btn-doe:hover::before{
    left: 0;
}

span:hover{
    animation: span 0.2s ease forwards;
}
@keyframes span {
    0%{} 100%{
    color: var(--cor-principal);
         }
}

.nav-top svg:hover{
    animation: svg 0.2s forwards ease-in;
}
@keyframes svg {
   0%{

   } 100%{
    color: var(--cor-principal);
        }
}


.card:hover{
    cursor: pointer;
    animation: card 0.5s ease-in-out forwards;
}

.card:hover .article-logo{
    animation: logo-svg 0.5s ease-in-out forwards;
}
.card:hover .article-logo svg{
    animation: article-svg 0.5s ease-in-out forwards;
}

.card:hover .cont-missao h3{
    animation: title 0.5s ease-in-out forwards;
}

.card:hover .cont-missao P{
    animation: conteudo 0.5s ease-in-out forwards;
}

@keyframes card {
    0%{

    }100%{
             background-color: var(--cor-principal);
         }
}

@keyframes logo-svg {
    0%{

    }100%{
             background-color: var(--white);
         }
}
@keyframes article-svg {
    0%{

    }100%{
     color: var(--cor-principal);
     }
}

@keyframes title {
    0%{

    }100%{
        color: var(--white);
         }
}

@keyframes conteudo {
    0%{

    }100%{
         color: var(--bg2);
     }
}


